{%- comment -%}
Add theorem to a post

Parameters:
  - text: theorem text

Optional parameters:
  - type: definition, lemma, theorem, corollary, etc.
  - sub: name (to include in parentheses)
  - proof: proof text
  - qed: end-of-proof symbol (defaults to white square &#9633)
{%- endcomment -%}

{% assign _t = "Theorem" %}
{% if include.type %}
  {% assign _t = include.type | capitalize %}
{% endif %}

{% if thm_counter == nil %}
  {% assign thm_counter = 1 %}
{% endif %}
<b> {{ _t }} {{ thm_counter }}.</b> {% if include.sub %}({{ include.sub }}){% endif %} {{
include.text }} {% if include.proof %}<br/> <i>Proof.</i> {{ include.proof }}
<div align="right">{% if include.qed %} {{ include.qed }} {% else %} &#9633; {% endif %}</div>
{% endif %}
{% assign thm_counter = thm_counter | plus: 1 %}
